.footer {
    background-color: #ACCD7B;
    padding: 1rem;
    text-align: left;
    color: black;
    font-family: Verdana;
    font-size: 1rem;
    display: flex;
    gap: 1px;
  }

.footer div {
  flex: .3;
}

.footerImage {
  width: 270px;
  height: auto;
}

.jcuLink {
  display: block;
  padding: 10px;
  color: #0E668B;
}

.socialLink {
  padding-right: 15px;
  color: #0E668B;
}
