.game2Page {
    font-family: Verdana;
    max-width: 800px; 
    margin: 40px auto; 
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
  }
  
  .game2Page h2 {
    font-size: 2rem;
    color: #0E668B; 
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #0E668B;
    padding-bottom: 10px;
  }
  
  .game2Page p {
    line-height: 1.6;
    font-size: 1.1rem;
    color: #333;
    background-color: #e9f5ff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); 
  }
  
  .game2Page p:hover {
    background-color: #d1eaff;
    transition: background-color 0.3s ease;
  }
  