.header {
  background-color: #FFAF74; 
  padding: 1.5rem 2rem;
  text-align: center;
}

.headerTitle {
  margin: 0;
  font-size: 2rem;
  color: black;
  font-family: Verdana;
}

.navbar {
  margin-top: 1rem;
}


.languageToggleSlider {
  position: relative;
  width: 200px; 
  height: 50px; 
  background-color: #669603; 
  border-radius: 25px; 
  overflow: hidden; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.languageToggleSlider:hover {
  background-color: #45a049; 
}

.slider-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%;
  background-color: white;
  border-radius: 25px; 
  transition: left 0.3s ease; 
  z-index: 2; 
}

.languageToggleSlider.active .slider-button {
  left: 50%; 
}

.languageToggleSlider .label {
  position: absolute;
  width: 50%; 
  height: 100%;
  line-height: 50px; 
  text-align: center; 
  font-weight: bold;
  font-size: 18px; 
  font-family: Verdana;
  z-index: 3; 
  pointer-events: none; 
  transition: color 0.3s ease; 
}

.languageToggleSlider .label.left {
  left: 0; 
}

.languageToggleSlider .label.right {
  left: 50%; 
}

.languageToggleSlider:not(.active) .label.left {
  color: #000000; /* Makes English black when active */
}

.languageToggleSlider.active .label.left {
  color: #cccccc; /* Dims the English to gray when not active */
}

.languageToggleSlider.active .label.right {
  color: #000000; /* Makes Spanish black when active */
}

.languageToggleSlider:not(.active) .label.right {
  color: #cccccc; /* Dims the Spanish to gray when not active */
}


.navbarList {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 2rem;
  padding: 0;
  margin: 0;
  /* background-color:aliceblue; */
}

.navbarList li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s;
  font-family: Verdana;
}


.navbarList li a:hover {
  color: #6DBA76; 
}
