.header {
  background-color: #e9c95a; 
  padding: 1.5rem 2rem;
  text-align: center;
}

.headerTitle {
  margin: 0;
  font-size: 2rem;
  color: black;
}

.navbar {
  margin-top: 1rem;
}

.languageSelectorButton {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions for hover effects */
}

.languageSelectorButton {
  position: absolute; /* Absolute positioning */
  left: 10px; /* 10px from the left edge of the header */
  top: 65px; /* 10px from the bottom edge of the header */
}

/* Hover effect */
.languageSelectorButton:hover {
  background-color: #45a049; /* Slightly darker green when hovered */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
.navbarList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  /* background-color:aliceblue; */
}

.navbarList li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s;
}


.navbarList li a:hover {
  color: #6DBA76; 
}

