/* Home.css */
.homePage {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(10, 63, 103, 0.1);
  }
  .gameSelection {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .gameBox {
    flex: 1;
    height: 300px;
    border-radius: 12px;
    background-color: #c7d3db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .gameBox:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  }
  
  .game1 {
    background-color: #6DBA76; 
    color: white;
  }
  
  .game2 {
    background-color: #426b89; 
    color: white;
  }

  .homeTitle {
    color: #0a3f67; 
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .homeDescription {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  